

{block title}Editor{/block}
{block content}

	<h1 style="text-align: center">Editor</h1>

	<style>
		.register{
			margin: auto;
			width: 30%;
			padding: 10px
		}
		textarea{
			width: 200px;
		}
	</style>
	<div class="register">
		{control editForm}
	</div>

	{* Formulář pro editaci. *}
{/block}

