
{block title}Registrace{/block}

{block content}

    <h1 style="text-align: center">Registrace</h1>
{* Formulář pro registraci. *}

<style>
    .register{
        margin: auto;
        width: 30%;
        padding: 10px
    }

</style>
<div class="register">
    {control registerForm}
</div>

{/block}